<form #registrationForm="ngForm" (ngSubmit)="onSubmitRegistration()">
    <div>
        <mat-form-field>
            <mat-label>Category name:</mat-label>
            <input matInput [(ngModel)]="currentCategory.cateName" name="cateName" required>
        </mat-form-field>
    </div>
    
    <div ngModelGroup="PairOfWords" #wordGroup="ngModelGroup">
        <div class="phone-number-title">
            <h3>Add Words</h3>
            <button mat-fab type="button"
                (click)="addPairOfWords()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div *ngFor="let word of currentCategory.PairOfWords; index as i"
           >
            <div>
                <mat-form-field>
                    <mat-label>Source Language:</mat-label>
                    <input matInput [(ngModel)]="currentCategory.originLanguage"  required [pattern]="englishLettersPattern" #patternField="ngModel">
                    <mat-error *ngIf="patternField.errors?.['pattern']">
                        (English letters only)
                    </mat-error>
                </mat-form-field>
                <br>
    
            <mat-form-field>
                <mat-label>Target Language:</mat-label>
                <input matInput [(ngModel)]="currentCategory.targetLanguage" required [pattern]="hebrewLettersPattern" #patternField="ngModel">
                <mat-error *ngIf="patternField.invalid">
                    Please use Hebrew Letters Only
                </mat-error>
            </mat-form-field>
        </div>
        <div>
        </div>
            <button
                type="button"
                mat-icon-button
                (click)="removePairOfWords(i)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <div>
        <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="registrationForm.invalid || registrationForm.pristine">
            Save
        </button>
     </div>     
</form>



<div>
    <button mat-raised-button
    color="primary"
    routerLink="">
New Category
</button>
</div>